/* page.projects css */

.card{
  box-sizing: border-box;
  background-color: #F4F4F4;
  margin: 0 auto 40px auto;
  width: 520px;
}

.card .card_header{
  background-color: #D96441;
  height: 60px;
  opacity: 0.75;
}

.card h1{

  box-sizing: border-box;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 22px;
  float:left;
  margin-bottom: 0;
  padding: 15px 30px 15px 30px;
}

.card .arrow{
  background: url("../images/arrow.png") 0 0 no-repeat;
  display: block;
  height: 34px;
  float: right;
  margin: 16px 20px 0 0;
  width: 34px;
}


.card .arrow:hover{
  background: url("../images/arrow.png") 0 -34px no-repeat;
}

.card.open .arrow{
  background: url("../images/arrow.png") 0 -102px no-repeat;
  display: block;
  float: right;
  height: 34px;
  margin: 16px 20px 0 0;
  width: 34px;
}

.card.open .arrow:hover{
  background: url("../images/arrow.png") 0 -68px no-repeat;
}


.card p{
  box-sizing: border-box;
  font-size: 14px;
  float: left;
  margin: 0;
  padding: 30px 0px 30px 30px;
  width: 347px;
}

.card .picture_small{
  float: right;
  padding: 25px 40px 0 0;
}

.card .donation{
  bottom: 0;
  border-top: 1px solid #E0E0E0;
  background-color: #F4F4F4;
  height: 63px;
  left: 0;
  position: relative;
}

.donation div{
  float: left
}

.donation .donations{
  height: 63px;
  width: 174px;
}

.donation .goal{
  border-right: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  height: 63px;
  width: 174px;
}

.donation .donate_button .btn{
  background: url("../images/pp_btn.png") 0 0 no-repeat;
  background-color: #F4F4F4;
  cursor: pointer;
  border:none;
  height: 60px;
  width: 161px;
}

.donation .donate_button .btn:hover{
  background-position: -170 0;
}

.donation .donate_button .btn:focus{
  outline:none;
}

.donation .label{
  color: #D96441;
  display: block;
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 7px auto 0 auto;
  margin-top: 7px;
  text-align: center;
  text-transform: uppercase;
}

.donation .amount{
  color: #21425B;
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: -4px;
  margin: -4 auto 0 auto;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.card.open .picture_big{
  height: 200px;
  padding: 0;
  width: 520px;
}

.card.open .picture_small{
  display: none;
}

.card.open .picture_big{
  display:block
}

.card.open .card_header {
  opacity: 1;
}

.picture_big{
  display: none;
}

.picture_small{
  display:block;
}

.open .description p{
  background-color: #F4F4F4;
  padding: 30px 30px 30px 30px;
  width: 520px;
}

.open .donation{
  background-color: #F4F4F4;
  bottom: 0;
  left: 0;
  position: relative;
}
