/* page.services css */
.services-img {
	margin-left: -40px;
}

.services-h3 {
	font-weight: 400;
	color: #b87561;
	margin-top: -15px;
}

.services-h2 {
	margin-top: 15px;
}

/* táblázatos verzió

		tr > td:first-child {
			font-weight: 700;
			width: 45%;
			vertical-align: top;
		}

		td {
			border-top: solid #d96441 1px;
			padding: 10px 0;
		}

		.border-top {
			border-top-color: transparent;
		}

		.services-table {
			margin-bottom: 20px;
		}

*/


dl dt {
	font-weight: 700;
	width: 45%;
	float: left;
	clear: both;
	border-top: solid #d96441 1px;
	padding: 10px 0;
}

dl dd {
	width: 55%;
	float: right;
	margin: 0;
	border-top: solid #d96441 1px;
	padding: 10px 0;
}

h2 {
	clear: both;
}


/* small screen, "mobile" */
@media all and (max-width: 767px) {
	.links,
	.mainmenu,
	.social {
		display: none;
	}

	.mainmenu .close {
		display: none;
	}

	.menu {
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 40;
	}

	.menu .toggle {
		background: yellow;
		height: 50px;
		width: 50px;
		position: absolute;
		top: 0;
		right: 0;
	}

	#nav:target .menu {
		width: auto;
		background: #d96441;
		padding: 0 20px;
	}

	#nav:target .mainmenu {
		display: block;
		margin-top: 60px;
	}	
	
	#nav:target .links,
	#nav:target .social {
		display: block;
		margin-top: 0;
	}	

	#nav:target .mainmenu .close {
		display: block;
	}

	#nav:target .toggle .close {
		display: block;
	}

	.header {
		top: 0;
		left: 0;
		width: 250px;
		z-index: 60;
	}

	.logo {
		top: 0;
		height: 65px;
		width: auto;
		margin-top: -7px;
		background: url("../images/SF_logo_mobile.png") 0 0 no-repeat;
		background-size: 200px 75px;
		display: block;
		z-index: 60;
	}

	.logo:hover {
	background-position: 0 0;
	}

	.container {
		left: 0;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.services-img img {
		margin-left: 20px;
		width: 100%;
	}

	dl dt {
		width: auto;
		float: none;
		clear: both;
		border-top: solid #d96441 1px;
		padding-bottom: 0;
	}

	dl dd {
		width: auto;
		float: none;
		margin: 0;
		border-top: none;
	}

	
}

/* ipad portrait and up */
@media all and (min-width: 768px) and (max-width: 859px) {
	.services-img img {
		margin-left: 15px;
		width: 500px;
	}
}

/* sub1024 */
@media all and (min-width: 860px) and (max-width: 1023px) {
	
}

/* big screen */
@media all and (min-width: 1600px) {

}
