/* page.services css */
.services-img {
	margin-left: -40px;
}

.services-h3 {
	font-weight: 400;
	color: #b87561;
	margin-top: -15px;
}

tr > td:first-child {
	font-weight: 700;
	width: 45%;
	vertical-align: top;
}

td {
	border-top: solid #d96441 1px;
	padding: 10px 0;
}

.border-top {
	border-top-color: transparent;
}

.services-table {
	margin-bottom: 20px;
}




/* small screen, "mobile" */
@media all and (max-width: 767px) {
	.header {
		display: none;
	}

	.menu {
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 40;
	}

	.menu .toggle {
		background: yellow;
		height: 50px;
		width: 50px;
		position: absolute;
		top: 0;
		right: 0;
	}

	#nav:target .menu {
		background: #000;
	}

	.links,
	.mainmenu {
		display: none;
	}

	#nav:target .links,
	#nav:target .mainmenu {
		display: block;
		margin-top: 40px;
	}	
	
	#nav:target .links {
		margin-top: 0;
	}

	/*
	.mainmenu .close {
		display: none;
	}
	*/

	/*
	#nav:target .mainmenu .close {
		display: block;
	}
	*/

	.logo {
		top: 0;
		height: 48px;
		margin-top: -38px;
	}

	.container {
		left: 0;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.services-img img {
		margin-left: 40px;
		width: 100%;
	}
}

/* ipad portrait and up */
@media all and (min-width: 768px) and (max-width: 859px) {
	.services-img img {
		margin-left: 15px;
		width: 500px;
	}
}

/* sub1024 */
@media all and (min-width: 860px) and (max-width: 1023px) {
	
}

/* big screen */
@media all and (min-width: 1600px) {

}
