/* page.about css */


/*CONTENT*/

 h3 {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}

.buttons {
  margin: 30px 0px 50px 0px;
  text-align: -webkit-center;
}

.container .buttons a {
  text-decoration: none;
  border: 1px solid #D96441;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  padding: 7px 8px 7px 8px;
}

.container .buttons a:hover {
  text-decoration: none;
  border: 1px solid #D96441;
  background-color: #D96441;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  padding: 7px 9px 7px 9px;
  color: #f8f8f8;
}

.pics {
  margin: 40px 0px 40px 0px;
}

.container p {
  line-height: 1.5;
}

.container img {
  float: right;
  border: 2px solid #D96441;
  border-radius: 5px;
  margin: 0 0 0 20px;
  width: 200px;
}

.container a {
  color: #D96441;
}

.container a:hover {
  color: #f8f8f8;
}

.container .CV a:visited {
  color: #403836;
}

.pics img {
  float:left;
  width: 150px;
  border: none;
  display: block;
  height: 150px;
}

.motto {
  font-style: italic;
  margin-top: 40px;
}

.cta {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.cta a {
  text-decoration: none;
  border: 1px solid #D96441;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  padding: 7px 9px 7px 9px;
}

.cta a:hover {
  text-decoration: none;
  border: 1px solid #D96441;
  background-color: #D96441;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  padding: 7px 9px 7px 9px;
  color: #f8f8f8;
}
